{% extends 'index.html' %}

{% block content %}
<form method="POST", action="">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <legend class="border-bottom mb-2">Please, set a new password</legend>
  </fieldset>
  <div class="form-group">
    {% if form.password.errors %}
      {{form.password.label}}
      {{form.password(class="form-control is-invalid")}}
      <div class="invalid-feedback">
        {% for error in form.password.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{form.password.label}}
      {{form.password(class="form-control")}}
    {% endif %}
  </div>
  <div class="form-group">
    {% if form.confirmed.errors %}
      {{form.confirmed.label}}
      {{form.confirmed(class="form-control is-invalid")}}
      <div class="invalid-feedback">
        {% for error in form.confirmed.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{form.confirmed.label}}
      {{form.confirmed(class="form-control")}}
    {% endif %}
  </div>
  {{form.submit(class="btn btn-primary")}}
</form>
{% endblock %}