.dis-input:focus{
  box-shadow: none;
  border: 1px solid #ced4da;
  border-left: 1px solid grey;
}

.dis-input:hover{
  cursor: default;
}

.newlist:focus{
  border: 1px solid #ced4da;
  box-shadow: 0 0 0 0.2rem rgba(133, 144, 155, 0.25);
}

.is-invalid{
  border: 2px solid red;
}

.temp:hover{
  cursor: pointer;
}

textarea::-webkit-scrollbar, 
textarea::-webkit-resizer{
  display: none;
}

ul, li{
  margin-bottom: 0;
}

.calendar{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.calendar table{
  border: 1px solid lightgrey;
  table-layout: fixed;
  width: 100%;
}

.calendar td, 
.calendar th{
  width: calc(100% / 7);
  border: 1px solid lightgrey;
  overflow: hidden;
}

.calendar td:hover{
  background-color: lightgray;
}